{% extends 'main/base.html' %}
{% block content %}

<div class="container">

    <div class="row card">
        <div class="col">
            <div class="col-md">
                <div class=" text-center mb-12" >
                    <div >
                        <p class=" status-title">Information Communication Technology Directorate </p>
                    </div>
                    <div>
                        <p class=" status-body">OVERVIEW<br>
                            Globalization and technological changes have accelerated in tandem over the past years 
                            and have created a new global economy “powered by technology and fueled by information and
                             communications and driven by knowledge.” The emergence of this new global digital economy has 
                             serious implications for the nature and purpose of educational institutions. 
                             Information and communications technologies (ICTs) have been touted as potentially
                              powerful enabling tool for educational changes, reform and innovations. Information and 
                              communications technologies play an integral enabling role to mission critical businesses of 
                              higher learning institutions. 
                              <br><br>
                              BDU-ICT
                              <br>
                              Bahir Dar University aspires to be a pre-eminent graduate and research University. To this end, the University recognizes ICT as a powerful enabling tool for institutional change and transformation to attain its stretched strategic goals and initiatives, missions and vision.

                              Accordingly, ICT Development Office drives university ICT infrastructures, facilities, systems and services design, development, customization and implementation plus continual   upgrading and operation management. ICT Technical support, software and hardware maintenance, IT trainings and consultancy are roles of ICT for staff and students across   8(eight) campuses of the university as well.
                              
                              All Digital!
                              
                              SERVICES / SYSTEMS / FACILITIES
                              
                                  Institutional Cloud Email
                                  Website Services
                                  Wired And Wireless Connectivity Services Across All Campuses and Premises
                                  Private Cloud Compute and Storage Infrastructure
                                  LMS Plus Digital Libraries
                                  Integrated Students Information Management Systems: Portal and Application
                                  Online GAT And UGAT System
                                  Research Management System
                                  Data Center Facilities
                                  Lobby Digital Media Signage
                                  Computing Centers and Facilities
                                  Technology Enhanced Classrooms
                                  Hosting Faculty Computes, Storages and Services
                                  Security Enhancement Services: SSL Certificates and Antivirus Solution
                                  Training and Consultancyre, ICT Pools, SMART Rooms.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}