{% extends 'main/base.html' %}
{% block content %}

<div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class=" status-title">About Us</h2>
            <div  class=" status-body" >
              BDU ICT Directoreate  is A model center that excels in ICT infrastructure for academic, research, and community service in Africa.
              Creating a conducive teaching-learning, research, community service, management, and administration environment with ICT support.
              Providing reliable and adequate network infrastructure.
              Automating the teaching-learning process.
              On-time user support.
            </div>
            <a class="btn btn-sm  btn-primary" href="{% url 'ReadAboutView' %}">Read more>></a>

          </div>       
    </div>
</div>

  



{% endblock %}