{% extends 'main/main.html' %}
{% block content %}


<div class="container">
    {% for post in post %}

    <div class="row card mt-3">
        <div class="col">
            <div class="col-md">
                <div class=" text-center mb-12" >
                    <div >
                        <p class=" status-title">{{post.title}}</p>
                    </div>
                    <div>
                        <p class=" status-body">{{post.body}}</p>
                    </div>
                </div>
            </div>
        </div>    </div>
 
        {% endfor %}

    {% endblock %}