
{% extends 'main/base.html' %}
{% block content %}
<section id="team">
    <div class="container">
    <h2> Our Team</h2>
    <div class="row">
       <div class="col-md-2 profile-pic text-center">
        <div class="img-box">
          <img src="{% static '/images/logo1.jpg' %}" class="img-thumbnail">
        </div> 
        <h3>ICT Infirastructure and Team leader </h3>
        <h4>  BDU student</h4>
        <p>Departement computer engineering  student </p>
       </div>
       <div class="col-md-2 profile-pic text-center">
        <div class="img-box">
          <img src="img/banner2.jpg" class="img-thumbnail">
        </div> 
        <h3>Business App Development Team Leader</h3>
        <h4>  BDU student</h4>
        <p>Departement computer engineering  student </p>
       </div>
       <div class="col-md-2 profile-pic text-center">
        <div class="img-box">
          <img src="img/library.png" class="img-thumbnail">
         
        </div> 
        <h3>E-Learning Technology Team Leader</h3>
        <h4>  BDU student</h4>
        <p>Departement computer engineering  student </p>
       </div>
       <div class="col-md-2 profile-pic text-center">
        <div class="img-box">
          <img src="img/cafeteria.png" class="img-thumbnail">
        </div> 
        <h3>Technical and maintence and Support Team Leader</h3>
        <h4>  BDU student</h4>
        <p>Departement computer engineering  student </p>
       </div>
       <div class="col-md-2 profile-pic text-center">
        <div class="img-box">
          <img src="img/certificate.jpg" class="img-thumbnail">
        </div> 
        <h3>Traning and support Team Leader</h3>
        <h4>  BDU student</h4>
        <p>Departement computer engineering  student </p>
       </div>
    </div>
    </div>
  </section>
{% endblock %}