<div class="container ">
    <div class="row ">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" >
                    <div class="card-header  status-conten">
                        <h5 class="card-title status-title">Total order</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title status-body">{{total_order}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" >
                    <div class="card-header status-conten">
                        <h5 class="card-title status-title"> Painding</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title status-body">{{total_pending}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3">
                    <div class="card-header status-conten">
                        <h5 class="card-title status-title"> Fixed</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title status-body">{{total_fixed}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" id="total-not-fixed" >
                    <div class="card-header status-conten">
                        <h5 class="card-title status-title">Not Fixed</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title status-body">{{total_not_fixed}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>